.modal{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 50vh;
    border-radius: 10px;
    padding: 1em 3em;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.modal-overlay {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;    
}

